@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --azul-oscuro: #003d7a;
  --azul-cielo: #0099cc;
  --gris-claro: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-azul-oscuro: var(--azul-oscuro);
  --color-azul-cielo: var(--azul-cielo);
  --color-gris-claro: var(--gris-claro);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), Arial, Helvetica, sans-serif;
}
